<div class="modal-body">
    <div class="row">
        <div class="col-sm "><h3 class="m-t-none m-b">Withdrawal in account</h3>

            <p>Please fill your amount now</p>

            <form name="form.deposit" ng-submit="submitWithdraw()" novalidate>
                <div class="form-group"><label>Amount</label> <input type="text" name="amount" class="form-control" ng-model="amount" required></div>
                <div class="form-group"><label>Concept</label> <input type="text" name="detail" class="form-control" ng-model="detail" required></div>
                <div>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"
                    ng-disabled="form.deposit.$invalid" ng-click="ok()"><strong>submit</strong></button>

                </div>
            </form>
        </div>

    </div>
</div>
